{
  "Facebook": {
    "page_id":       "638667 ",
    "access_token":  " "
  },
  "LinkedIn": {
    "access_token":  "xxx",
    "owner":         "urn:li:organization:xxx"
  },
  "X": {
    "api_key":             "  ",
    "api_secret":          " ",
    "access_token":        "xx- ",
    "access_token_secret": " ",
    "bearer_token":        ""
  },
  "YouTube": {
    "client_secrets_file": "client_secrets.json",
    "token_file":          "token.json"
  },
  "Instagram": {
    "ig_user_id":   "xx",
    "access_token": " xx",
    "imgbb_api_key": "xx "
  }
}
